*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 
}


.container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, auto) 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.header {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: minmax(500px, auto);
}
.header h1 {
  width: 600px;
  text-align: center;
}
.header p {
  width: 600px;
  text-align: center;
  font-size: 18px;
}

.action-container-holder {
  margin: 2rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.action-container-holder h2 {
  width: 600px;
  text-align: center;
}

.action-container-holder .action-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem 3rem;
  list-style: none;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.action button {
  font-size: 24px;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  width: 300px;
  height: auto;
  border: rgb(3, 100, 100) 1px solid;
  background-color: rgb(1, 71, 71);
  border-radius: 999999px;
  box-shadow: teal 2px 2px;
  color: white;
  cursor: pointer;
}

.action button:hover {
  background-color: cyan;
  border-color: white;
  box-shadow: teal 2px 2px 10px;
  color: black;
}